<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247274807196-1694rkmpqo0tiapvvg43cgt7m8jusmp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247274807196-1694rkmpqo0tiapvvg43cgt7m8jusmp0</string>
	<key>API_KEY</key>
	<string>AIzaSyD-8gNReiO0DhX8ks4wV0yGY3-YO267qJc</string>
	<key>GCM_SENDER_ID</key>
	<string>247274807196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aniyah.ChatAI</string>
	<key>PROJECT_ID</key>
	<string>dairymarketdb</string>
	<key>STORAGE_BUCKET</key>
	<string>dairymarketdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247274807196:ios:641b97881e5026fe737259</string>
</dict>
</plist>